body {
  height: auto;
  width: 100%;
  margin: 0;
  background: #282a36;
}

.run-btn {
    display: flex;
    position: absolute;
    right: 5px;
    padding: 2px 10px;
    background-color: #569956;
    border: none;
    border-radius: 2px;
}

.run-btn:hover {
    background-color: #68c068;
    cursor: pointer;
}

#consoleOutput.show {
  display: block !important;
}

.playground-header {
  width: calc(100% - 5px);
  height: 30px;
  display: flex;
  flex-direction: row;
  position: relative;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.2);
  color: white;
  align-items: center;
  padding-left: 5px;
  font-size: 0.9em;
  font-family: monospace;
  font-weight: 600;
}

.playground-container.rr {
  height: 100%;
  width: 100%;
  background: #282a36;
  display: flex;
  flex-direction: row;
}

.playground-editor {
  margin: 0;
  width: 100%;
}





.code-editor {
    height: calc(100% - 70px);
    margin: 0;
    padding: 20px;
    padding-top: 50px;
    resize: none;
    width: calc(100% - 40px);
    background: none;
    color: ghostwhite;
    border: none;
}

.code-editor:focus {
    border: none;
    outline: none;
}

/* width */
.CodeMirror-vscrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.CodeMirror-vscrollbar::-webkit-scrollbar-track {
  background: #282a36;
}

/* Handle */
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
  background: #8b8b8b85;
}

/* Handle on hover */
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover {
  background: #b8b8b885;
}