body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: #282a36;
}

.run-btn {
    display: flex;
    position: absolute;
    right: 5px;
    padding: 2px 10px;
    background-color: #569956;
    border: none;
    border-radius: 2px;
}

.run-btn:hover {
    background-color: #68c068;
    cursor: pointer;
}

#consoleOutput.show {
  display: block !important;
}

.playground-header {
  width: calc(100% - 20px);
  height: 30px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(0,0,0,0.2);
  color: white;
  align-items: center;
  font-size: 0.9em;
  font-family: monospace;
  font-weight: 600;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playground-container.rr {
  height: calc(100% - 50px);
  
  width: 100%;
  background: #282a36;
  display: flex;
  flex-direction: row;
}

.playground-editor {
  margin: 0;
  position: relative;
  width: 100%;
}

.playground-code {
  height: 100%;
}





.panel {
    margin: 0;
    resize: none;
    width: 100%;
    background: none;
    color: ghostwhite;
    border: none;
}

.panel:focus {
    border: none;
    outline: none;
}

.gutter {
  position: relative;
  background: #4e5058;
}

.gutter.gutter-v {
  height: 1px;
  max-height: 1px;
  cursor: n-resize;
}

.gutter.gutter-v:after {
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  position: absolute;
  top: -3px;
  z-index: 10;
}

.gutter.gutter-h {
  width: 1px;
  max-width: 1px;
  cursor: e-resize;
}

.gutter.gutter-h:after {
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  position: absolute;
  left: -3px;
  z-index: 10;
}

.panel .CodeMirror {
  height: 100%;
}
.CodeMirror-scrollbar-filler {
  background: #282a36;
}
/* width */
.CodeMirror-vscrollbar::-webkit-scrollbar, .CodeMirror-hscrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.CodeMirror-vscrollbar::-webkit-scrollbar-track, CodeMirror-hscrollbar::-webkit-scrollbar-track {
  background: #282a36;
}

/* Handle */
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb, CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
  background: #8b8b8b85;
}

/* Handle on hover */
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover, CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover {
  background: #b8b8b885;
}

.CodeMirror-hints::-webkit-scrollbar {
  width: 5px;
}

.CodeMirror-hints::-webkit-scrollbar-track {
  background: rgba(115, 116, 125, 0.5);
}

.CodeMirror-hints::-webkit-scrollbar-thumb {
  background: #8b8b8b85;
  border-radius: 4px;
}

.CodeMirror-hints::-webkit-scrollbar-thumb:hover {
  background: #b8b8b885;
  border-radius: 4px;
}

.CodeMirror-hints {
  /* From https://css.glass */
  background: rgba(115, 116, 125, 0.34);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(115, 116, 125, 0.3);

  font-size: 90%;
  z-index: 10;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 2px 6px;
  white-space: pre;
  cursor: pointer;
  font-family: monospace;
  color: white;
}

li.CodeMirror-hint-active, .CodeMirror-hint:hover {
  background: #b7ebf859;
  color: white;
}