/* import google fonts */
/* inconsolata */ @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
/* poppins extrabold */ @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap");

body {
  height: 100vh;
  width: 100%;
  margin: 0;
  background: #282a36;
}

.run-btn {
    display: flex;
    position: absolute;
    right: 5px;
    padding: 2px 10px;
    background-color: #569956;
    border: none;
    border-radius: 2px;
}

.run-btn:hover {
    background-color: #68c068;
    cursor: pointer;
}

#consoleOutput.show {
  display: block !important;
}

.playground-header {
  width: calc(100% - 20px);
  height: 30px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: rgba(0,0,0,0.2);
  color: white;
  align-items: center;
  font-size: 0.9em;
  font-family: monospace;
  font-weight: 600;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playground-container.rr {
  height: calc(100% - 50px);
  
  width: 100%;
  background: #282a36;
  display: flex;
  flex-direction: row;
}

.playground-editor {
  margin: 0;
  position: relative;
  width: 100%;
}

.playground-code {
  height: 100%;
}


:root {
  --panel-headerheight: 40px;
}


.panel {
  position: relative;
  overflow: auto;
  margin: 0;
  resize: none;
  width: 100%;
  background: none;
  color: #f3f3f3c9;
  border: none;
}

.panel .panel-header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  color: #f3f3f3c9;
  height: var(--panel-headerheight);
}

.panel-header p {
  font-family: 'Poppins', consolas, monospace;
  font-weight: 800;
  padding-left: 10px;
  margin: auto;
}

.panel:focus {
    border: none;
    outline: none;
}

.gutter {
  position: relative;
  background: #4e5058;
}

.gutter.gutter-v {
  height: 2px;
  max-height: 2px;
  cursor: n-resize;
}

.gutter.gutter-v:after {
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  position: absolute;
  top: -3px;
  z-index: 10;
}

.gutter.gutter-h {
  width: 1.5px;
  min-width: 1.5px;
  max-width: 1.5px;
  cursor: e-resize;
}

.gutter.gutter-h:after {
  content: "";
  display: block;
  width: 8px;
  height: 100%;
  position: absolute;
  left: -3px;
  z-index: 10;
}


.panel .CodeMirror {
  margin-top: var(--panel-headerheight);
  height: calc(100% - 50px);
}

.CodeMirror-foldmarker {
  position: relative;
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
}
.CodeMirror-foldmarker::after {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: '...';
  height: 100%;
  padding-top: 7px;
  font-weight: 600;
  justify-content: center;
  color: #8f8f8f;
}

.CodeMirror-code div {
  background-color: none;
  transition: background-color 1s;
}

.CodeMirror-code div.highlighted {
  transition: background-color 0s;
  background-color: #85858567;
}

.CodeMirror-scrollbar-filler {
  background: #282a36;
}
/* width */
.CodeMirror-vscrollbar::-webkit-scrollbar, .CodeMirror-hscrollbar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.CodeMirror-vscrollbar::-webkit-scrollbar-track, CodeMirror-hscrollbar::-webkit-scrollbar-track {
  background: #282a36;
}

/* Handle */
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb, CodeMirror-hscrollbar::-webkit-scrollbar-thumb {
  background: #8b8b8b85;
}

/* Handle on hover */
.CodeMirror-vscrollbar::-webkit-scrollbar-thumb:hover, CodeMirror-hscrollbar::-webkit-scrollbar-thumb:hover {
  background: #b8b8b885;
}

.CodeMirror-hints::-webkit-scrollbar {
  width: 5px;
}

.CodeMirror-hints::-webkit-scrollbar-track {
  background: rgba(115, 116, 125, 0.5);
}

.CodeMirror-hints::-webkit-scrollbar-thumb {
  background: #8b8b8b85;
  border-radius: 4px;
}

.CodeMirror-hints::-webkit-scrollbar-thumb:hover {
  background: #b8b8b885;
  border-radius: 4px;
}

.CodeMirror-hints {
  /* From https://css.glass */
  background: rgba(115, 116, 125, 0.34);
  border-radius: 4px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(115, 116, 125, 0.3);

  font-size: 90%;
  z-index: 10;
  max-height: 20em;
  overflow-y: auto;
}

.CodeMirror-hint {
  margin: 0;
  padding: 2px 6px;
  white-space: pre;
  cursor: pointer;
  font-family: monospace;
  color: white;
}

li.CodeMirror-hint-active, .CodeMirror-hint:hover {
  background: #b7ebf859;
  color: white;
}



/* OUTPUT */
.iframe-output {
  width: 100%;
  border: none;
  z-index: 2;
  background: white;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#iframe-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#iframe-container::after {
  /* loading spinner */
  content: "";
  z-index: 1;
  display: flex;
  position: absolute;
  width: 50px;
  height: 30px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #569956;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  transform: translate(-50%, -50%);
}

/* CONSOLE OUTPUT */

.console-header {
  position: sticky;
  top: 0;
  left: 0;
  width: calc(100% - 5px);
  height: 30px;
  display: flex;
  background-color:
  rgba(0,0,0,0.2);
  color: #f3f3f3af;
  align-items: center;
  padding-left: 5px;
  font-size: 0.8em;
  font-family: monospace;
  font-weight: 600;
}

.console-header .right-actions {
  display: flex;
  position: absolute;
  right: 5px;
}

.console-header .right-actions img {
  width: 20px;
  height: 20px;
  padding: 5px 5px;
  fill: #f3f3f3af;
  cursor: pointer;
}
.console-header .right-actions img:hover {
  background-color: #9e9e9e70;
}

#consoleOutput.maximised .console-header .right-actions #btn-copen {
  display: none;
}
#consoleOutput.maximised .console-header .right-actions #btn-cmin {
  display: block;
}

#consoleOutput .console-header .right-actions #btn-cmin {
  display: none;
}

#cout {
  margin: 0;
  padding: 5px;
  overflow-y: auto;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  font-family: 'Inconsolata', consolas, monospace;
  font-size: 0.8em;
  color: #f3f3f3af;
  background: #1d1f27;
  width: calc(100% - 10px); /* Adjust width to prevent overflow */
  height: calc(100% - 40px - 10px); /* Adjust height to prevent overflow */
}
#cout::-webkit-scrollbar {
  width: 5px;
}
#cout::-webkit-scrollbar-track {
  background: none;
}
#cout::-webkit-scrollbar-thumb {
  background: #8b8b8b85;
  border-radius: 4px;
}
#cout::-webkit-scrollbar-thumb:hover {
  background: #b8b8b885;
  border-radius: 4px;
}

.console-line {
  position: relative;
  align-items: center;
  display: flex;
  margin-top: 5px;
  font-family: 'Inconsolata', consolas, monospace;
  font-size: 11px;
  color: #f3f3f3af;
  white-space: pre-wrap;
  word-wrap: break-word; 
  overflow-wrap: break-word; 
  max-width: 100%; 
  padding: 3px;
  padding-left: calc(20px * var(--group-level));
  min-height: 20px;
  line-height: 1em;
}

.console-line span {
  width: 100%;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 400;
}

.console-line.system {
  color: #f3f3f3af;
  background: rgba(99, 172, 255, 0.2);
  border-radius: 5px;
}

.console-line.log.br::after,
.console-line.info.br::after,
.console-line.debug.br::after {
  /* bottom bar */
  content: "";
  display: flex;
  position: absolute;
  margin-top: 1px;
  bottom: -2.1px;
  width: calc(100% - 20px);
  height: 1px;
  max-height: 1px;
  background: #85858567;
  margin-top: 5px;
}

.console-line.error::before {
  /* x in a red svg */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23e3e3e3'%3E%3Cpath d='m339-288 141-141 141 141 51-51-141-141 141-141-51-51-141 141-141-141-51 51 141 141-141 141 51 51ZM480-96q-79 0-149-30t-122.5-82.5Q156-261 126-331T96-480q0-80 30-149.5t82.5-122Q261-804 331-834t149-30q80 0 149.5 30t122 82.5Q804-699 834-629.5T864-480q0 79-30 149t-82.5 122.5Q699-156 629.5-126T480-96Z'/%3E%3C/svg%3E");
  background-size: 1em;
  display: flex;
  position: absolute;
  left: 2px;
  top: 0;
  font-size: 1.2em;
  color: #eb5a5a;
  padding-right: 5px;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.console-line.error {
  background: rgba(189, 75, 75, 0.3);
  border-radius: 5px;
}

.console-line.warn::before {
  /* ! in a yellow svg */
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='20px' viewBox='0 -960 960 960' width='20px' fill='%23e3e3e3'%3E%3Cpath d='m480-96q-79 0-149-30t-122.5-82.5Q156-261 126-331T96-480q0-80 30-149.5t82.5-122Q261-804 331-834t149-30q80 0 149.5 30t122 82.5Q804-699 834-629.5T864-480q0 79-30 149t-82.5 122.5Q699-156 629.5-126T480-96Zm0-384q-26 0-45 19t-19 45q0 26 19 45t45 19 45-19 19-45q0-26-19-45t-45-19Zm0 640q-26 0-45 19t-19 45 19 45 45 19 45-19 19-45-19-45-45-19Z'/%3E%3C/svg%3E");
  background-size: 1em;
  display: flex;
  position: absolute;
  left: 2px;
  top: 0;
  font-size: 1.2em;
  color: #e0e05a;
  padding-right: 5px;
  height: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.console-line.warn {
  background: rgba(189, 189, 75, 0.3);
  border-radius: 5px;
}

.console-line a {
  color: #567599;
  text-decoration: underline;
}

/* collapsible dir */
.collapsed-view, .expanded-view {
  padding: 0;
  margin: 0;
}

ul.object {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

ul.object li.can-collapse {
  cursor: pointer;
}

details {
  margin: 5px 0;
  width: 100%;
}

details summary {
  color: #f3f3f3af;
  font-family: 'Inconsolata', consolas, monospace;
  font-size: 0.9em;
  outline: none;
}

details summary:hover {
  background-color: #9e9e9e70;
}

details ul.object {
  padding-left: 20px;
}

details summary::-webkit-details-marker {
  display: none;
}